body {
    margin: 20;
    padding: 0;
    /* background-color: #652ebf; */
    color: black;
    font-family: Trebuchet MS, Arial;
    font-weight: bold;
    font-size:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*flex-direction aligns the Trivia and score in a column */
    background-repeat: no-repeat;
    background-size: cover;
} 

.genre-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: Black;
}
